[Unit]
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill 'hack-elastic'
ExecStartPre=-/usr/bin/docker rm 'hack-elastic'
ExecStart=/usr/bin/docker run \
  --net=bridge \
  --name='hack-elastic' \
  --volume=/elastic.data:/usr/share/elasticsearch/data:rw \
#  --volume=/elastic.config:/usr/share/elasticsearch/config:rw \
  -p 9200:9200
  elasticsearch
  -Des.node.name="elastic-hack"
ExecStopPost=-/usr/bin/docker kill 'hack-elastic'
ExecStopPost=-/usr/bin/docker rm 'hack-elastic'
