filter {
  csv {
    columns => ["LEAID", "CENSUSID", "FIPST", "CONUM", "CSA", "CBSA", "NAME", "STNAME", "STABBR", "SCHLEV", "AGCHRT", "YEAR", "CCDNF", "CENFILE", "GSLO", "GSHI", "V33", "MEMBERSCH", "TOTALREV", "TFEDREV", "C14", "C15", "C16", "C17", "C19", "B11", "C20", "C25", "C36", "B10", "B12", "B13", "TSTREV", "C01", "C04", "C05", "C06", "C07", "C08", "C09", "C10", "C11", "C12", "C13", "C35", "C38", "C39", "TLOCREV", "T02"]
  }
}
